<!--ユーザー・一覧-->

<div class="container">
 <div class="row">

    <div class="col-md-3">
    <%= render 'users/profile', user: @user  %>
    <%= render 'books/newform',  book: @nbook  %>
    </div>


     <div class="col-md-8">
     <table class="table table-striped">
       <thead>
          <tr>
              <th></th>
              <th></th>
              <th></th>
              <th colspan="3"></th>
          </tr>
       </thead>

      <tbody>
      <% @users.each do |h| %>
           <tr>
               <td><%= image_tag h.get_profile_image(100,100) %></td>
               <td><%= h.name %></td>
               <td><%= h.introduction %></td>
               <td><%= link_to "Show", user_path(h) %></td>
           </tr>
                   <% end %>
       </tbody>
     </table>
     </div>

  </div>
</div>
      <!--自分と他人の画像が表示される: fallbackの画像がサイドバーの1つ＋一覧(2人)の2つの計3つ存在する (FAILED - 12)-->

      <!--URLが正しい (FAILED - 12)-->
      <!--Failure/Error: visit users_path-->

      <!--自分と他人の画像が表示される: fallbackの画像がサイドバーの1つ＋一覧(2 人)の2つの計3つ存在する (FAILED - 13)-->
      <!--自分と他人の名前がそれぞれ表示される (FAILED - 14)-->
      <!--自分と他人のshowリンクがそれぞれ表示される (FAILED -->
      <!--自分の名前と紹介文が表示される (FAILED - 16)-->
      <!--自分のユーザ編集画面へのリンクが存在する (FAILED - 17)-->
      <!--「New book」と表示される (FAILED - 18)-->
      <!--titleフォームが表示される (FAILED - 19)-->
      <!--titleフォームに値が入っていない (FAILED - 20)-->
      <!--bodyフォームが表示される (FAILED - 21)-->
      <!--bodyフォームに値が入っていない (FAILED - 22)-->
      <!--Create Bookボタンが表示される (FAILED - 23)-->

      <!--ユーザ一覧画面 (FAILED - 25)-->