<!--ユーザー・一覧-->

<div class="container">
 <div class="row">

    <div class="col-md-3">
    <%= render 'users/profile', user: @user  %>
　　<%= render 'books/newform',  book: @nbook  %>
    </div>


     <div class="col-md-8">
     <table class="table table-striped">
       <thead>
          <tr>
              <th></th>
              <th></th>
              <th></th>
              <th colspan="3"></th>
          </tr>
       </thead>

      <tbody>
      <% @users.each do |h| %>
           <tr>
               <td><%= image_tag h.get_profile_image(100,100) %></td>
               <td><%= h.name %></td>
               <td><%= link_to "Show", user_path(h) %></td>
           </tr>
                   <% end %>
       </tbody>
     </table>
     </div>

  </div>
</div>




