 <!--マイページ,ユーザー詳細-->
 <% if flash[:notice] %>
 <p id="notice"><%= flash[:notice] %></p>
 <% end %>

 <p id="notice"></p>

<div class="container">
 <div class="row">

    <div class="col-md-3">
    <%= render 'users/profile', user: @user %>
    <br>
    <%= render 'books/newform', book: @nbook %>
    </div>

    <div class="col-md-1">

    </div>

    <div class="col-md-8">
    <h2>Books</h2>
    <table class="table table-hover table-inverse">
       <thead>
          <tr>
              <th>Image</th>
              <th>Title</th>
              <th>Opinion</th>
              <th></th>
          </tr>
       </thead>

      <% @books.each do |book| %>
      <tbody>
           <tr>
               <td>
               <%= image_tag book.user.get_profile_image(80,80) %>
               <%= link_to user_path(book.user_id) do %>
               <p><%= book.user.name %></p>
               <% end %>
               </td>


               <td>
                 <%= link_to book_path(book.id) do %>
                 <p><%= book.title %></p>
                 <% end %>
               </td>

               <td><%= book.body %></td>

                <td>
                <%= link_to edit_book_path(book.id), class:"btn btn-success" do %>
                編集
                <%end%>
                </td>


                <td>
                 <%= link_to book_path(book), method: :delete ,class:"btn btn-danger" do%>
                 削除
                 <%end%>
                 <!--application.html.erbにjavascript_pack_tagを含んでいる (FAILED - 8)-->
               </td>
           </tr>
      </tbody>
      <% end %>

    </table>
    </div>

  </div>
</div>
