　<% if flash[:notice] %>
    <p id="notice">
       <%= flash[:notice] %>
    </p>
   <% end %>

<!--マイページ-->

<!--左-->
<%= render 'users/profile', user: @user  %>
<%= render 'books/newform', book: @nbook  %>
<!--左-->


<!--右-->
<% @book.each do |book| %>
<div>

   <div>

    <%= image_tag book.user.get_profile_image(100,100) %>


    <%= link_to user_path(book.user_id) do %>
    <p><%= book.user.name %></p>
    <% end %>

   </div>



    <%= link_to book_path(book.id) do %>
    <p><%= book.title %></p>
    <% end %>


    <p><%= book.body %></p>

</div>
<% end %>

<!--右-->