<!--投稿一覧（books）-->
<!--グリッドシステムのテスト: container, row, col-md-〇を正しく使-->
<% if @nbook.errors.any? %>
 <%= @nbook.errors.count %>errors prohibited this obj from being saved:
 <ul>
   <% @nbook.errors.full_messages.each do |message| %>
   <li><%= message %></li>
   <% end %>
 </ul>
<% end %>
<p id="notice"></p>

<div class="container">
 <div class="row">

    <div class="col-md-3">
    <%= render 'users/profile', user: @user  %>
    <br>
    <%= render 'books/newform',  book: @nbook  %>
    </div>

    <div class="col-md-1">

    </div>

    <div class="col-md-8">
    <h2>Books</h2>
    <table class="table table-hover table-inverse">

    <thead>
     <tr>
       <th>Image</th>
       <th>Title</th>
       <th>Opinion</th>
       <!--余白-->
       <th></th>
     </tr>
    </thead>


    <% @books.each do |book| %>
    <tbody>
      <tr>
        <td>
         <%= link_to user_path(book.user) do %>
         <%= image_tag book.user.get_profile_image(80,80) %>
         <% end %>
        </td>

        <td>
          <%= link_to book_path(book.id) do %>
          <p><%= book.title %></p>
          <% end %>
        </td>

        <td>
          <p><%= book.body %></p>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
    </div>

  </div>
</div>

