<!--本全体（book）-->
<!--＜左＞-->
 <div>
   <h3><%= @user.name %></h3>
   <%= image_tag @user.get_profile_image(100,100) %>

   <% if @user == current_user %>
   <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
   <% end %>
   <!--このままだと見えないので違うユーザーだったら自分の編集に飛ぶ-->
   <!--または自分のeditに飛ぶようにする-->
 </div>

<h1>画像投稿フォーム</h1>
  <%= form_with model: @new_book do |f| %>

    <h4>Title</h4>
      <%= f.text_field :title %>
    <h4>Opinion</h4>
      <%= f.text_area :body %>
    <%= f.submit 'Create Book' %>
  <% end %>
</div>
<!--＜左＞-->

<!--＜右＞-->
<% @book.each do |book| %>

<div>

<!--その人のマイページに飛ぶ-->
<div>
<p><%= image_tag book.user.get_profile_image(100,100) %></p>
  <%= link_to book_path(book.id) do %>
  <p><%= book.user.name %></p>
  <% end %>
</div> 
  

 
 <!--その本の詳細ページに飛ぶ-->
  <%= link_to book_path(book.id) do %>
  <p>Title：<%= book.title %></p>
  <% end %>
 

  <p>Opinion：<%= book.body %></p>

</div>
<% end %>