<!--本全体（books）-->

<!--＜左＞-->
 <%= render 'users/profile', user: @user  %>
 <%= render  'books/newform',  book: @nbook  %>

 <!--＜左＞-->

<% @books.each do |book| %>

 <div>
<!--その人のマイページに飛ぶ-->
 <div>
    <p><%= image_tag book.user.get_profile_image(100,100) %></p>


    <%= link_to user_path(book.user_id) do %>
    <p><%= book.user.name %></p>
    <% end %>
 
 </div>


 <!--その本の詳細ページに飛ぶ-->
  <%= link_to book_path(book.id) do %>
  <p>Title：<%= book.title %></p>
  <% end %>

  <p>Opinion：<%= book.body %></p>
</div>
<% end %>