



<!--本詳細ページ-->



  <!--＜左＞-->
 <%= render 'books/newform', book: @nbook  %>
  <!--＜左＞-->



 <!--＜右＞-->
  <div>

    <div>
      <p><%= image_tag @book.user.get_profile_image(100,100) %></p>
      <p><%= @book.user.name %></p>
    </div>


    <!--%= link_to "",book_path(book.id) do %>-->
      <p>Title：<%= @book.title %></p>
    <!--% end %>-->


    <p>Opinion：<%= @book.body %></p>


    <% if @book.user == current_user %>
    <%= link_to "destroy", book_path(@book), method: :delete %>
    <%= link_to "edit", edit_book_path %>
    <% end %>

  </div>

  <!--＜右＞-->
