<!--投稿詳細-->
<!--グリッドシステムのテスト: container, row, col-md-〇を正しく使-->
<% if flash[:notice] %>
    <p id="notice">
       <%= flash[:notice] %>
    </p>
   <% end %>

<div class="container">
 <div class="row">

    <div class="col-md-3">
    <%= render 'users/profile', user: @user  %>
    <%= render 'books/newform',  book: @nbook  %>
    </div>

    <div class="col-md-1">
    </div>

     <div class="col-md-8 ofset-md-1">
       <p id="notice"></p>
       <table class="table table-striped">

       <thead>
         <h2>Book detail</h2>
       </thead>

      <tbody>
           <tr>
              <td>
                 <%= link_to user_path(@book.user.id) do %>
                 <%= image_tag @book.user.get_profile_image(80,80) %>
                <p><%= @book.user.name %></p>
                <% end %>
                </td>

               <td>
               <%= link_to book_path(@book.id) do %>
               <p><%= @book.title %></p>
               <% end %>
               </td>

               <td>
                <p><%= @book.body %></p>
               </td>


                 <td>
                <%= link_to "edit", edit_book_path %>
                </td>


                <td>
                 <%= link_to "destroy", book_path(@book), method: :delete %>
                </td>


           </tr>
       </tbody>
     </table>
     </div>

  </div>
</div>


