<% if flash[:notice] %>
    <p id="notice">
       <%= flash[:notice] %>
    </p>
   <% end %>

<div class="container">
 <div class="row">

    <div class="col-md-3">
    <%= render 'users/profile', user: @user  %>
    <%= render 'books/newform',  book: @nbook  %>
    </div>


     <div class="col-md-8">
     <table class="table table-striped">
       <thead>
          <tr>
           <h2>Book detail</h2>
              <th colspan="4"></th>
          </tr>
       </thead>

      <tbody>
           <tr>
              <td>
                 <%= link_to user_path(@book.user.id) do %>
                 <%= image_tag @book.user.get_profile_image(100,100) %>
                <p><%= @book.user.name %></p>
                <% end %>
                </td>

               <td>
               <%= link_to book_path(@book.id) do %>
               <p><%= @book.title %></p>
               <% end %>
               </td>

               <td>
                <p><%= @book.body %></p>
               </td>


                 <td>
                <%= link_to "edit", edit_book_path %>
                </td>
                <!--編集画面に遷移する (FAILED - 8)-->

                <td>
                 <%= link_to "destroy", book_path(@book), method: :delete %>
                 <!--application.html.erbにjavascript_pack_tagを含んでいる (FAILED - 8)-->
                <!--正しく削除される (FAILED - 10)-->
                <!--リダイレクト先が、投稿一覧画面になっている (FAILED --->
                </td>


           </tr>
       </tbody>
     </table>
     </div>

  </div>
</div>


